<div class="card-container">
  <div class="user-info">
    <p>{{ currentUser()?.fullName }}</p>
    <span>{{ currentUser()?.role }}</span>
  </div>
  <div class="button-container">
    @if(currentUser()?.role === "USER") {
    <button
      (click)="addDocument()"
      color="primary"
      mat-raised-button
      type="button"
    >
      Add new document
    </button>

    }
    <button
      (click)="logout()"
      class="logout-btn"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Log Out
    </button>
  </div>
</div>
