<app-header></app-header>

<div class="container-fluid main-toolbar__space">
  <div class="page-heading">
    <a mat-fab color="accent" class="ml-3 d-md-block" id="add">
      <mat-icon>add</mat-icon>
    </a>
  </div>

  <div class="page-heading d-flex">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>
  </div>

  <div class="page-content">
    <mat-card appearance="outlined" class="">
      <mat-table class="" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell
            class=""
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            >name</mat-header-cell
          >
          <mat-cell mat-cell *matCellDef="let row">
            <span>{{ row.name }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell
            class=""
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            >status</mat-header-cell
          >
          <mat-cell mat-cell *matCellDef="let row">
            <span>{{ row.status }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <mat-header-cell
            class=""
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            >createdAt</mat-header-cell
          >
          <mat-cell mat-cell *matCellDef="let row">
            <span>{{ row.createdAt }}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="updatedAt">
          <mat-header-cell
            class=""
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            >updatedAt</mat-header-cell
          >
          <mat-cell mat-cell *matCellDef="let row">
            <span>{{ row.updatedAt }}</span>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </mat-table>

      <!-- <app-loader
    class="approve-loader"
    *ngIf="isLoadingApproveManyVacations"
  ></app-loader> -->

      <mat-paginator
        [length]="resultsLength"
        [pageIndex]="paginatorPage"
        [pageSize]="paginatorPageSize"
        [pageSizeOptions]="[5, 10, 20]"
      >
      </mat-paginator>
    </mat-card>
  </div>
</div>
