.login-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    margin-bottom: 10px;
  }
}

.uploader {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.custom-error-text {
  font-size: 12px;
  padding-left: 10px;
}

.btn-submit {
  margin-top: 20px;
}

label {
  margin-bottom: 10px;
}