<div class="login-container">
  <div mat-dialog-title class="dialog-header">
    <h3>Create document</h3>

    <button mat-icon-button (click)="cancel()" aria-label="Close dialog button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="mt-4">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Enter your fullName</mat-label>
      <input
        matInput
        placeholder="Name document"
        formControlName="name"
        required
      />
      @if (form.get('name')?.invalid) {
      <mat-error>You must enter a value</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Choose status</mat-label>
      <mat-select required formControlName="status">
        @for (status of statusesDocuments(); track status) {
        <mat-option [value]="status.value">{{ status.viewValue }}</mat-option>
        }
      </mat-select>
      @if (form.get('status')?.invalid) {
      <mat-error>You must enter a value</mat-error>
      }
    </mat-form-field>

    <label>Upload file</label>

    <div class="uploader">
      <input type="file" (change)="onFileSelected($event)" />
    </div>
    @if (selectedFile && selectedFile.type !== 'application/pdf') {
    <div class="custom-error-text">
      <mat-error>Incorrect type file, must be only pdf type</mat-error>
    </div>
    }

    <button
      color="primary"
      class="full-width btn-submit"
      mat-raised-button
      type="submit"
      [disabled]="form.invalid"
    >
      Create document
    </button>
  </form>
</div>
