.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  mat-card {
    padding: 20px;
  }
}

mat-form-field {
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}